# Base de datos (Supabase PostgreSQL)
DATABASE_URL="postgresql://postgres:bsrtntyFKB9qW8e7aGsG89qFl9yM@db.nxxhrowcvudzoemzljuv.supabase.co:5432/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:bsrtntyFKB9qW8e7aGsG89qFl9yM@db.nxxhrowcvudzoemzljuv.supabase.co:5432/postgres"

# JARVIS Backend
NEXT_PUBLIC_JARVIS_URL="https://neltal-backend.onrender.com"
